.analog-clock {
  position: relative;
  width: 200px;
  height: 200px;
  border: 10px solid #333;
  border-radius: 50%;
}

.hand {
  position: absolute;
  left: 50%;
  transform-origin: 50% 100%;
}

.hour-hand {
  width: 6px;
  height: 50px;
  background-color: #333;
}

.minute-hand {
  width: 4px;
  height: 70px;
  background-color: #666;
}

.second-hand {
  width: 2px;
  height: 80px;
  background-color: red;
}

.center-circle {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  background-color: #333;
  border-radius: 50%;
}
