.time-zone-container {
  display: flex;
}

.just-form-container {
  align-content: center;
  padding: 5%;
  flex: 1;
  border-color: black;
  border-style: solid;
}

.clock-parent-container {
  display: flex;
  flex-direction: column;
  padding: 5%;
  align-content: center;
  text-align: center;
  flex: 1;
  border-color: black;
  border-style: solid;
}

h2 {
  margin-bottom: 2px;
}
